h1, h2 {
  text-align: center;
  font-family: 'Megrim', cursive;
  line-height: normal;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
  line-height: 1.8em;
}

img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    display: block;
    padding: 10px 0;
}

a {
  text-decoration: none;
  color: #6AD9EB;
}

#home {
  background-image: url("../img/dragonisland.jpg");
  color: #ddeeff;
  background-size: cover;
}

#home h1 {
margin-top: 100px;
font-size: 200px;
}

#home h2 {
  font-size: 100px;
}

#home p {
padding-top: 50px;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
display: inline-block;
padding-right: 20px;
}
